<%= form_for @sandwich_order, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :ordering_person, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ordering_person, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sandwich_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :sandwich_type, SandwichOrder::SANDWICH_TYPES %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sandwich_maker, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sandwich_maker, :class => 'text_field' %> Enter an email, twitter handle or phone number to send your order
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sandwich_orders_path, :class => 'btn' %>
  </div>
<% end %>
