<%- model_class = SandwichOrder.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => "My Sandwich Zone" %></h1>
</div>

<div class="sand-container">
	<div id="recent">
		<h2>Recent Sandwiches</h2>

		<%= render "recent_list", :model_class => model_class %>
		<div id="recent">
			<%= link_to t('.new', :default => t("helpers.links.new")),
			            new_sandwich_order_path,
			            :class => 'btn btn-primary' %>
		</div>
		<%= will_paginate @sandwich_orders %>
		<br />
	</div>
	<div id="count-list">
		<h2>My Most Popular Sandwiches</h2>
		<%= render "count_list", :model_class => model_class %>
	</div>
</div>
<div class="clear"></div>
